[project]
name = "ctf-agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "google-genai>=1.48.0",
    "gradio>=5.49.1",
    "openai>=2.7.1",
]
